@model List<Product>

@{
}

<h2>Lista produktów</h2>

@foreach (var product in Model)
{
    <div>
        <h3>@product.Name</h3>
        <p>@product.Description</p>
        <p>Cena: @product.Price</p>
        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline-block">
            <input type="hidden" name="productId" value="@product.Id" />
            <input class="form-control" type="number" name="quantity" value="1" min="1" max="10" step="1" />
            <input class="form-control" type="submit" value="Dodaj do koszyka" />
        </form>
    </div>
}
