@model Dictionary<int, Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Lista produktów</h2>
<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Dodaj produkt</a>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Akcje</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Value.Name</td>
            <td>@Html.DisplayFor(x => product.Value.Price)</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Product" asp-route-id=@product.Value.Id>Edytuj</a>
                <a class="btn btn-primary" asp-action="Details" asp-controller="Product" asp-route-id=@product.Value.Id>Szczegóły</a>
                <a class="btn btn-primary" asp-action="Delete" asp-controller="Product" asp-route-id=@product.Value.Id>Usuń</a>
            </td>
        </tr>
    }
</table>