@model Category

@{
}

<h2>Edytuj kategorię</h2>

<form asp-action="Edit" asp-controller="Category">
    <div>
        <input type="hidden" asp-for="Id"/>
        <label asp-for="Name"></label>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input class="form-control" type="text" asp-for="Name"/>
        <label asp-for="Description"></label>
        <div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <input class="form-control" type="text" asp-for="Description"/>
        <input type="submit" value="Zapisz" class="btn btn-primary"/>
        <a class="btn btn-primary" asp-action="Index" asp-controller="Category">Anuluj</a>
    </div>
</form>